.header {
  background-color: black;
  
}
.header h1{
    color: rgb(255, 255, 255);
    font-size: 100px;
    margin-top: 0%;
    margin-bottom: 0%;
}

.header h2{
    font-size: 70px;
    padding-top: 0%;
    margin: 0%;
    font-weight: 100;
}

.simple-section{
    background-color: #011327;
    width: 190px;  
    height: 30px;
    align-items: center;
    padding-left: 30px;
    margin-left: 40px;
    margin-top: 50px;
}
.simple-section h3{
    margin: 0%;
    align-items: center;
    color: #02d7f2;
    
}
.simple-line{
    background-color: #011327;
    padding: 1px;
    margin-left: 40px;
    margin-bottom: 25px;
}